* {
    margin: 0;
    padding: 0;
}
.bg {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    background-color: white;
}
html, body {
    background-color: #000;
    overflow: hidden;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -khtml-user-select: none !important;
    user-select: none !important;
    opacity: .999;
}
.title {
    position: relative;
    left: 0px;
    top: 0px;
    width: 380px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.3;
    font-family: "Microsoft YaHei";
    box-sizing: border-box;
    font-style: normal;
    display: block;
    margin: 48px 0px 16px;
    text-shadow: 0px 0px 6px #000;
}
.subtitle {
    margin: 0px !important;
    font-size: 18px !important;
}
.mid {
    position: absolute;
    width: 380px;
    height: 440px;
    margin-left: -190px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
}
header {
    width: 100%;
    height: 150px;
    border-bottom: solid 1px #fff;
    animation-delay: .25s;
    animation-timing-function: ease-in-out;
    animation-duration: .325s;
    animation-fill-mode: both;
    animation-name: fadeInBottom;
}
.pic {
    position: absolute;
    left: 50%;
    top: 20px;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    border: solid 1px #fff;
    border-radius: 40px;
}
.line {
    position: absolute;
    left: 50%;
    border-left: solid 1px #fff;
}
.indexlogo {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 48px;
    height: 48px;
    animation: logorot 2.5s 2s infinite ease-in-out;
}
nbody {
    position: absolute;
    width: 100%;
    top: 150px;
    height: 188px;
    animation-delay: .575s;
    animation-timing-function: ease-in-out;
    animation-duration: .325s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
footer {
    border-top: solid 1px #fff;
    position: absolute;
    width: 100%;
    top: 338px;
    height: 100px;
    animation-delay: .25s;
    animation-timing-function: ease-in-out;
    animation-duration: .325s;
    animation-fill-mode: both;
    animation-name: fadeInTop;
}
.footerBotton {
    width: 120px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background: rgba(255,255,255,0);
    transition: background .1s ease-in-out;
    text-shadow: 0px 0px 6px #000;
}
.footerBotton:hover {
    text-shadow: 0px 0px 8px #000;
    background: rgba(255,255,255,.50);
}
.allFade {
    animation-delay: .8s;
    animation-timing-function: ease-in-out;
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
.footerLeft {
    animation-delay: .8s;
    animation-timing-function: ease-in-out;
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
.footerRight {
    animation-delay: .8s;
    animation-timing-function: ease-in-out;
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}
.left {
    border-left: solid 1px #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.right {
    border-right: solid 1px #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.link {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}
 @keyframes fadeInTop {
 from {
 transform: translate3d(0, -94px, 0px);
}
 to {
 transform: none;
}
}
 @keyframes fadeInBottom {
 from {
 transform: translate3d(0, 94px, 0);
}
 to {
 transform: none;
}
}
 @keyframes fadeInLeft {
 from {
 opacity: 0;
 transform: translate3d(50px, 0, 0);
}
 to {
 opacity: .999;
 transform: none;
}
}
 @keyframes fadeInRight {
 from {
 opacity: 0;
 transform: translate3d(-50px, 0, 0);
}
 to {
 opacity: .999;
 transform: none;
}
}
 @keyframes fadeIn {
 from {
 opacity: 0;
}
 to {
 opacity: .999;
}
}
 @keyframes logorot {
 50% {
 transform: rotate(-30deg);
}
 70% {
 transform: rotate(390deg);
}
 80% {
 transform: rotate(360deg);
}
 100% {
 transform: rotate(360deg);
}
}
.copyright {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: .75;
    display: inline-block;
    text-align: center;
    transition: opacity .1s linear;
}
.copyright:hover {
    opacity: 1;
}
.BGBlock {
    position: absolute;
    left: 0;
    background: black;
    z-index: -99;
    opacity: 1;
    animation-delay: 1.2s;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.BGTop {
    top: 0;
    width: 100%;
    height: calc(50% + 250px);
    shape-outside: polygon(100% 0, 100% 100%, 0 calc(0% + 150px), 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 calc(0% + 150px), 0 0);
    animation-name: BGfadeInBottom;
}
.BGBottom {
    top: calc(50% - 250px);
    width: 100%;
    height: calc(50% + 250px);
    shape-outside: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - 150px));
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - 150px));
    animation-name: BGfadeInTop;
}
@keyframes BGfadeInTop { /*#00c8ff*/
100% {
top: 100%;
}
}
@keyframes BGfadeInBottom {
100% {
top: calc(-50% - 250px);
}
}
