/*@font-face{
font-family: myFont;
为引入的字体命名
src:url("../fonts/myFont.ttf");
定义要引入字体文件的路径
}*/
::-webkit-scrollbar {
 width: 5px;
}
::-webkit-scrollbar-thumb {
 border-radius: 5px;
 background-color: rgb(53,103,212);
}
header {
    position: fixed;
    background: #fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    box-shadow: 0px 4px 6px 2px #ccc;
    padding-left: 32px;
    z-index: 100;
}
body {
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    opacity: .95;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -khtml-user-select: none !important;
    user-select: none !important;
    overflow-x: hidden;
    background-image: url(../img/background3.png);
    background-color: rgb(247,248,250);
    background-size: 115% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    transition: background .8s ease-in-out;
}
.down {
    position: relative;
    top: 64px;
    left: 0px;
    height: 650px;
    width: 100%;
    margin-bottom: 64px;
    border-bottom: solid 1px #ccc;
}
.bgNormalX {
    background-size: 100% auto !important;
}
.bgNormalY {
    background-size: auto 100% !important;
}
.bgFullX {
    background-size: 115% auto !important;
}
.bgFullY {
    background-size: auto 115% !important;
}
.title {
    height: 64px;
    line-height: 64px;
    font-size: 28px;
}
.logo {
    position: relative;
    left: 0px;
    top: 10px;
    height: 40px;
    width: 40px;
}
.link {
    text-decoration: none;
    color: #000;
}
.container {
    position: relative;
    top: 140px;
    height: 400px;
    width: 500px;
}
.center {
    margin: auto;
}
.midlogo {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 16px;
}
.midtitle {
    position: relative;
    left: 0px;
    width: 100%;
    font-size: 60px;
    margin: 0;
    margin-bottom: 24px;
    font-weight: 100;
    text-align: center;
}
.subtitle {
    position: relative;
    left: 0px;
    width: 100%;
    font-size: 16px;
    margin-top: 16px;
    font-weight: normal;
    text-align: center;
}
.download {
    margin-top: 16px;
    position: relative;
    line-height: 48px;
    height: 48px;
    width: 160px;
    color: #fff;
    background: rgb(53,103,212);
    display: inline-block;
    border-radius: 4px;
}
.download:hover {
    background: rgb(73,123,232);
}
.about {
    position: relative;
    top: 0px;
    left: 0px;
    height: 460px;
    width: 100%;
    background-color: rgb(247,248,250);
    border-bottom: solid 1px #ccc;
}
.more {
    position: relative;
    top: 0px;
    left: 0px;
    height: 780px;
    width: 100%;
    background-color: rgb(247,248,250);
    border-bottom: solid 1px #ccc;
}
.col {
    padding-top: 32px;
    box-shadow: 0px 0px 5px #ccc;
    border: solid 1px #ccc;
    position: absolute;
    top: 64px;
    left: 64px;
    height: 300px;
    width: 25%;
    margin: 0px;
    display: inline-block;
    background-color: rgb(247,248,250);
    padding: 16px;
    transition: box-shadow .15s ease-in-out;
}
.col:hover {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 30px 10px #ddd;
}
.fadeIn1 {
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeInBottom;
}
.fadeIn2 {
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
.fadeIn3 {
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}
.midcol {
    left: calc(37.5% - 17px);
    animation-delay: .325s;
}
.rightcol {
    left: auto;
    right: 64px;
    animation-delay: .65s;
}
@keyframes fadeInBottom {
 from {
 opacity: 0;
 transform: translate3d(0, 100px, 0px);
}
 to {
 opacity: .95;
 transform: none;
}
}
@keyframes fadeInLeft {
 from {
 opacity: 0;
 transform: translate3d(100px, 0px, 0px);
}
 to {
 opacity: .95;
 transform: none;
}
}
@keyframes fadeInRight {
 from {
 opacity: 0;
 transform: translate3d(-100px, 0px, 0px);
}
 to {
 opacity: .95;
 transform: none;
}
}
@keyframes filpIn {
 0% {
transform: scaleY(0);
}
 25% {
transform: scaleY(1.5);
}
 50% {
transform: scaleY(.75);
}
 75% {
transform: scaleY(1.25);
}
 100% {
transform: none;
}
}
.line {
    position: relative;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 100%;
    border-bottom: solid 1px #ccc;
}
.col2 {
    padding-top: 32px;
    box-shadow: 0px 0px 5px #ccc;
    border: solid 1px #ccc;
    position: absolute;
    top: 64px;
    left: 64px;
    height: 620px;
    width: 40%;
    margin: 0px;
    display: inline-block;
    background-color: rgb(247,248,250);
    padding: 16px;
    transition: box-shadow .15s ease-in-out;
}
.col2:hover {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 30px 10px #ddd;
}
.rightcol2 {
    left: auto;
    right: 64px;
}

@media screen and (max-width: 1050px) {
#ali {
    display: none;
}
}

@media screen and (max-width: 500px) {
.container {
    width: 100vw;
}
}

@media screen and (max-width: 900px) {
.col {
    left: 2%;
    width: 90%;
}
.midcol {
    top: 420px;
    left: 2%;
}
.rightcol {
    top: 774px;
    left: 2%;
    right: auto;
}
.about {
    height: 1160px;
}
.TechBlock {
    height: 460px !important;
}
.more {
    height: 1500px;
}
.col2 {
    left: 2%;
    width: 90%;
}
.rightcol2 {
    top: 790px;
    left: 2%;
    right: auto;
}
.down {
    background-size: auto 100%;
}
.down:hover {
    background-size: auto 115%;
}
.line {
    background-size: auto 100%;
}
.line:hover {
    background-size: auto 115%;
}
#footerlogo {
    display: none;
}
}
footer {
    position: relative;
    width: 100%;
    height: 96px;
    box-shadow: 0px -4px 6px 2px #ccc;
    background: #fff;
}
.footerlink {
    position: relative;
    top: 24px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
}
.mtext:first-letter {
}
.col3 {
    box-shadow: 0px 0px 5px #ccc;
    border: solid 1px #ccc;
    position: absolute;
    top: 64px;
    left: 64px;
    right: 64px;
    height: 334px;
    width: auto;
    margin: 0px;
    display: inline-block;
    background-color: rgb(247,248,250);
    overflow: hidden;
    transition: box-shadow .15s ease-in-out;
}
.col3:hover {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 30px 10px #ddd;
}
.col4 {
    position: relative;
    height: 302px;
    width: calc(100% - 32px);
    padding: 16px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.col5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: .5s ease-in-out;
}
.choseBtnList {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 16px;
    z-index: 100;
    list-style: none;
    transform: translateY(-50%);
}
.choseBtn {
    width: 0;
    height: 0;
    content: "";
    cursor: pointer;
    color: rgb(53,103,212);
    border: solid 4px;
    border-radius: 4px;
    margin: 32px auto;
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 5px 2px #ccc;
}
.tech {
    position: absolute;
    top: 0;
    right: 100px;
    width: calc(100% - 500px);
    height: 100%;
}
.embedTech {
    position: absolute;
    left: 16px;
}
.aboutText {
    position: relative;
    left: 0px;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    line-height: 2;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: filpIn;
}
