@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    /*height: 2000px;*/
    margin:0;
}
body {
    background-image: url("../../img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    cursor: url("../cur/Huaji.cur"), auto;
    overflow-x: hidden;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -khtml-user-select: none !important;
    user-select: none !important;
}
header {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible;
}
header .title {
    border-bottom: 1px dashed #D67E7D;
}
header .title .img-wrap {
    text-align: center;
}
header .title .main-title {
    text-align: center;
    font-size: 60px;
    font-family: "Microsoft YaHei";
    color: #D67E7D;
}
header .title .sub-title {
    text-align: center;
    color: #D67E7D;
    margin-bottom: 14px;
}
header .logo {
    margin-top: 64px;
    transition: all 1.2s ease-in-out;
}
header .logo:hover {
    transform: rotate(360deg);
}
header .bt-group {
    position: absolute;
    right: 20px;
    top: 50px;
}
header .bt-group img {
    height: 60%;
    vertical-align: top;
    margin-left: 20px;
}
header .bt-group .bt {
    background-size: cover;
    padding-top: 25px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 24px;
    cursor: url("../cur/Huaji.cur"), auto;
    margin-right: 20px;
}
header .bt-group .bt:last-child {
    margin-right: 0;
}
header .bt-group .bt:hover {
    -webkit-box-shadow: 0 0 5px 5px #D67E7D;
    box-shadow: 0 0 5px 5px #D67E7D;
    border-radius: 5px;
}
header .bt-group .bt a {
    text-decoration: none;
    color: black;
}
header .bt-group .bt-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
section .main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
section .main .card {
    background: rgba(255,255,255,0.80);
    padding: 20px 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 4px 0 #CECECE;
    box-shadow: 0 0 4px 0 #CECECE;
    transition: -webkit-box-shadow, box-shadow, background 0.2s linear;
}
section .main .card:hover {
    -webkit-box-shadow: 0 0 4px 4px #D67E7D;
    box-shadow: 0 0 4px 4px #D67E7D;
    background: rgba(255,255,255,1);
}
section .main .card .title {
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 22px;
    border-left: 4px solid #D67E7D;
}
section .main .card .text {
    margin: 10px 0;
}
.col-2 {
    width: 47%;
}
.col-2:hover {
    width: 47%;
}
.col-1 {
    width: 100% !important;
}
.col-1:hover {
    width: 100% !important;
}
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    opacity: 0.8;
    z-index: 10000;
}
ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    opacity: 0.98;
}
ul.sidenav li a.active {
    background-color: #000000;
    color: white;
}
ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 90000px) {
ul.sidenav {
    width: 100%;
    height: auto;/*position: relative;*/
}
ul.sidenav li a {
    float: left;
    padding: 15px;
}
div.content {
    margin-left: 0;
}
}

@media screen and (max-width: 400px) {
ul.sidenav li a {
    text-align: center;
    float: none;
}
    .main {
        top: 340px;
    }
}

@media (max-width: 1300px) {
.hoverdiv {
    visibility: hidden;
}
.col-2 {
    width: 100%;
}
.col-2:hover {
    width: 100%;
}
ul.sidenav {
    position: relative;
}
}
.copy-tips {
    position: fixed;
    z-index: 999;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -20px -80px;
    background-color: rgba(0, 0, 0, 0.2);
 filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000, endColorstr=#30000000);
    padding: 6px;
}
.copy-tips-wrap {
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #F4D9A6;
    background-color: #FFFDEE;
    font-size: 14px;
}
.download {
    position: relative;
    left: 50%;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.75;
    transition: opacity 0.2s linear;
    display: inline-block;
    transform: translate(-50%);
    cursor: url("../cur/HuajiPointer.cur"), auto;
}
.download:hover {
    opacity: 1;
}
.olink {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.75;
    transition: opacity 0.2s linear;
    display: inline-block;
    cursor: url("../cur/HuajiPointer.cur"), auto;
}
.olink:hover {
    opacity: 1;
}
.button {
    width: 200px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 130%;
    letter-spacing: 2px;
    border: 3px solid #D67E7D;
    color: #D67E7D;
    transition: all 0.3s linear;
}
.button:hover {
    background-color: #D67E7D;
    color: #fff;
}
.smallbutton {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 64px;
    display: none;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: rgba(255,255,255,0.00);
    height: 64px;
    border: white solid 2px;
    transition: background 0.2s ease-in-out;
    cursor: url("../cur/HuajiPointer.cur"), auto;
}
.smallbutton:hover {
    background: rgba(255,255,255,0.25);
}
.copyright {
    left: 50%;
    position: relative;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.75;
    display: inline-block;
    text-align: center;
    transform: translate(-50%);
    transition: opacity 0.1s linear;
    cursor: url("../cur/HuajiPointer.cur"), auto;
}
.copyright:hover {
    opacity: 1;
}
a.customcursor {
    cursor: url("../cur/HuajiPointer.cur"), auto;
}

::-webkit-scrollbar {
 width: 5px;  /*滚动条宽度*/
}
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {
 border-radius: 5px;  /*滚动条的圆角*/
 background-color: 	#D67E7D  /*滚动条的背景颜色*/
}
input[type="text"] {
    font-family: "微软雅黑";
    width: 80%;
    height: 32px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    margin: 20px 0px 50px 8px;
    padding: 5px;
    float: left;
}
.search {
    font-family: "微软雅黑";
    background-color: #7FFB54;
    color: white;
    width: 14%;
    height: 44px;
    border: 0;
    padding: 5px;
    float: left;
    margin: 20px 0px 50px 0px;
}
.search:hover {
    cursor: url("../cur/HuajiPointer.cur"), auto;
}
/*# sourceMappingURL=main.css.map */
